@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.dark {
  background-color: black;
  color: #fff;
  transition: all 1s ease;
  transition-delay: 0.3s;
}

.sandh {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -10;
}

body {
  transition: all 1s ease;
  transition-delay: 0.3s;
  position: relative;
}

section {
  display: none !important;
}

.notification {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.8941176471);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 12;
  display: none;
  overflow: hidden !important;
}

.login-form {
  width: 340px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0);
  transition: all 5s ease;
  transition-delay: 4s;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.check > input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  flex-grow: 1;
}

.style {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  font-size: inherit;
  padding: 0px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(0, 0, 0, 0.1) inset;
}

.small {
  font-size: 12px;
  color: #333;
}

.fa-user,
.fa-lock {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
  margin-left: 15px;
}

.username,
.password {
  width: 100%;
  height: 50px;
  position: relative;
}

input:focus {
  outline: none;
}

form > button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff, 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px #fff inset;
}

.cancel {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 30px;
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

.Main-grid-container {
  display: grid;
  grid-template-columns: 0.8fr 3fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@keyframes left {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
.left-container {
  margin-left: 40px;
  margin-right: 10px;
  animation: left 0.7s ease;
}
.left-container .menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.left-container .menu .header {
  margin-top: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  justify-content: start;
  padding: 5px 10px;
  border: 2px solid;
  padding: 5px;
  width: 100%;
  background: linear-gradient(to bottom right, rgb(255, 247, 0) 10%, rgb(213, 0, 255));
}
.left-container .menu .header i {
  display: inline;
  margin-right: 10px;
  padding: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}
.left-container .menu .item-list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
.left-container .menu .item-list .list {
  width: 100%;
  transition: all 0s ease;
  position: relative;
  overflow: hidden;
  padding: 2px 10px;
}
.left-container .menu .item-list .list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -2;
  background-color: #0E8388;
  transition: all 0.4s ease;
}
.left-container .menu .item-list .list:hover p, .left-container .menu .item-list .list:hover i {
  color: #fff;
}
.left-container .menu .item-list .list:hover::before {
  left: 0;
}
.left-container .menu .item-list .list i,
.left-container .menu .item-list .list p {
  display: inline;
  font-size: 16.5px;
}

.showcard {
  transition: all 0.3s ease;
}

.showcard.show-cardItems {
  opacity: 0;
  display: none;
  transition: all 0.3s ease;
}

.center-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid rgba(51, 51, 51, 0.6901960784);
  border-left: 1px solid #ccc;
  position: relative;
}
.center-container header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px 20px;
  position: sticky;
  top: 0%;
  z-index: 3;
  background-color: #fff;
  transition: all 1s ease;
  transition-delay: 0.3s;
}
.center-container header .hamburger {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.center-container header .hamburger span {
  width: 100%;
  height: 3.2px;
  background-color: #000000;
  transform-origin: left;
  transition: all 0.3s ease;
}
.center-container header h2 {
  margin-right: 5px;
  color: #FFB000;
}
.center-container header .search-bar {
  flex-grow: 1;
  position: relative;
  margin: 0px 20px;
}
.center-container header .search-bar input {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  outline: none;
  padding: 5px 15px;
  font-size: 18px;
}
.center-container header .search-bar .fa-magnifying-glass {
  position: absolute;
  right: 6%;
  line-height: 45px;
}
.center-container header .theme {
  margin-right: 15px;
}
.center-container header .theme .circle {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}
.center-container header .theme .circle .moon,
.center-container header .theme .circle .sun {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  transition: all 1s ease;
  transition-delay: 0.3s;
}
.center-container header .theme .circle .sun {
  transform: scale(0);
  transition-delay: 0.3s;
}
.center-container header .theme .circle.active {
  background-color: #e3aeae;
}
.center-container header .theme.active .moon {
  transform: rotate(360deg) scale(0);
}
.center-container header .theme.active .sun {
  color: rgb(255, 255, 255);
  transform: scale(1) rotate(360deg);
}
.center-container .carditems {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 10%;
  padding: 0px;
  z-index: -5;
  right: 0;
  text-align: center;
  transform: translateY(850px);
  transition: all 0.5s ease;
  opacity: 0;
}
.center-container .carditems.showcarditems {
  transform: translateX(0px);
  transition: all 0.5s ease;
  z-index: 2;
  opacity: 1;
}
.center-container .carditems .card-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}
.center-container .carditems .card-container .product-details {
  text-align: center;
  border-right: 1px solid #787878;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 80px;
}
.center-container .carditems .card-container .product-details .selecteditems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid #818181;
}
.center-container .carditems .card-container .product-details .selecteditems .card-img img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10%;
}
.center-container .carditems .card-container .product-details .selecteditems .product-d {
  margin-left: 10px;
}
.center-container .carditems .card-container .product-details .selecteditems .product-d p,
.center-container .carditems .card-container .product-details .selecteditems .product-d span {
  font-size: 14px;
}
.center-container .carditems .card-container .product-details .selecteditems .product-d .btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.center-container .carditems .card-container .product-details .selecteditems .product-d .btns button {
  margin-left: 15px;
  padding: 5px 20px;
  background-color: #FFB000;
  border: none;
  border-radius: 3px;
}
.center-container .carditems .card-container .bill-amount .bill-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 0px;
  background-color: blueviolet;
  height: 100%;
}
.center-container .carditems .card-container .bill-amount .bill-details .bill {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  list-style: none;
}
.center-container .carditems .card-container .bill-amount .bill-details .bill .bill > .bill-product-name {
  font-size: 18px;
  font-weight: 500;
}
.center-container .carditems .card-container .bill-amount .bill-details .final-amount {
  text-align: right;
  padding-right: 25px;
  margin-top: 10px;
}
.center-container .carditems .card-container .bill-amount .bill-details .final-amountbutton {
  font-size: 20px;
  font-weight: bold;
  /* background-color: #FFB000; */
  background: linear-gradient(to bottom right, rgb(255, 247, 0) 10%, rgb(213, 0, 255));
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  animation: glow 3s ease infinite;
  transition: all 2s ease;
  text-shadow: 0px 0px 1px #000000;
}
@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.center-container .shoping-card {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 0px;
}
.center-container .shoping-card .fa-cart-shopping {
  font-size: 35px;
  position: relative;
  left: 4px;
  top: 2px;
  line-height: 50px;
  z-index: 10;
  color: white;
}
.center-container .shoping-card .fa-cart-shopping #quantity {
  position: absolute;
  left: 13px;
  bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.center-container .shoping-card::before {
  content: "";
  position: absolute;
  background-color: #FFB000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}
.center-container .trending-section {
  padding: 10px;
  margin-bottom: 10px;
}
.center-container .trending-section h3 {
  margin-bottom: 20px;
}
.center-container .trending-section .trend-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.center-container .trending-section .trend-img .circle-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.center-container .trending-section .trend-img .circle-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.center-container .non-veg-container,
.center-container .veg-container,
.center-container .biscuits-container,
.center-container .juice-container,
.center-container .recommended-section {
  border-top: 1px solid #ccc;
  padding: 10px;
}
.center-container .non-veg-container h3,
.center-container .veg-container h3,
.center-container .biscuits-container h3,
.center-container .juice-container h3,
.center-container .recommended-section h3 {
  margin-bottom: 10px;
}
.center-container .non-veg-container .non-veg,
.center-container .non-veg-container .veg,
.center-container .non-veg-container .cookies,
.center-container .non-veg-container .juice,
.center-container .non-veg-container .cards-container,
.center-container .veg-container .non-veg,
.center-container .veg-container .veg,
.center-container .veg-container .cookies,
.center-container .veg-container .juice,
.center-container .veg-container .cards-container,
.center-container .biscuits-container .non-veg,
.center-container .biscuits-container .veg,
.center-container .biscuits-container .cookies,
.center-container .biscuits-container .juice,
.center-container .biscuits-container .cards-container,
.center-container .juice-container .non-veg,
.center-container .juice-container .veg,
.center-container .juice-container .cookies,
.center-container .juice-container .juice,
.center-container .juice-container .cards-container,
.center-container .recommended-section .non-veg,
.center-container .recommended-section .veg,
.center-container .recommended-section .cookies,
.center-container .recommended-section .juice,
.center-container .recommended-section .cards-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 10px;
  overflow: scroll;
}
.center-container .non-veg-container .non-veg .card,
.center-container .non-veg-container .veg .card,
.center-container .non-veg-container .cookies .card,
.center-container .non-veg-container .juice .card,
.center-container .non-veg-container .cards-container .card,
.center-container .veg-container .non-veg .card,
.center-container .veg-container .veg .card,
.center-container .veg-container .cookies .card,
.center-container .veg-container .juice .card,
.center-container .veg-container .cards-container .card,
.center-container .biscuits-container .non-veg .card,
.center-container .biscuits-container .veg .card,
.center-container .biscuits-container .cookies .card,
.center-container .biscuits-container .juice .card,
.center-container .biscuits-container .cards-container .card,
.center-container .juice-container .non-veg .card,
.center-container .juice-container .veg .card,
.center-container .juice-container .cookies .card,
.center-container .juice-container .juice .card,
.center-container .juice-container .cards-container .card,
.center-container .recommended-section .non-veg .card,
.center-container .recommended-section .veg .card,
.center-container .recommended-section .cookies .card,
.center-container .recommended-section .juice .card,
.center-container .recommended-section .cards-container .card {
  width: 220px !important;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.center-container .non-veg-container .non-veg .card .card-img,
.center-container .non-veg-container .veg .card .card-img,
.center-container .non-veg-container .cookies .card .card-img,
.center-container .non-veg-container .juice .card .card-img,
.center-container .non-veg-container .cards-container .card .card-img,
.center-container .veg-container .non-veg .card .card-img,
.center-container .veg-container .veg .card .card-img,
.center-container .veg-container .cookies .card .card-img,
.center-container .veg-container .juice .card .card-img,
.center-container .veg-container .cards-container .card .card-img,
.center-container .biscuits-container .non-veg .card .card-img,
.center-container .biscuits-container .veg .card .card-img,
.center-container .biscuits-container .cookies .card .card-img,
.center-container .biscuits-container .juice .card .card-img,
.center-container .biscuits-container .cards-container .card .card-img,
.center-container .juice-container .non-veg .card .card-img,
.center-container .juice-container .veg .card .card-img,
.center-container .juice-container .cookies .card .card-img,
.center-container .juice-container .juice .card .card-img,
.center-container .juice-container .cards-container .card .card-img,
.center-container .recommended-section .non-veg .card .card-img,
.center-container .recommended-section .veg .card .card-img,
.center-container .recommended-section .cookies .card .card-img,
.center-container .recommended-section .juice .card .card-img,
.center-container .recommended-section .cards-container .card .card-img {
  width: 100%;
  overflow: hidden;
}
.center-container .non-veg-container .non-veg .card .card-img img,
.center-container .non-veg-container .veg .card .card-img img,
.center-container .non-veg-container .cookies .card .card-img img,
.center-container .non-veg-container .juice .card .card-img img,
.center-container .non-veg-container .cards-container .card .card-img img,
.center-container .veg-container .non-veg .card .card-img img,
.center-container .veg-container .veg .card .card-img img,
.center-container .veg-container .cookies .card .card-img img,
.center-container .veg-container .juice .card .card-img img,
.center-container .veg-container .cards-container .card .card-img img,
.center-container .biscuits-container .non-veg .card .card-img img,
.center-container .biscuits-container .veg .card .card-img img,
.center-container .biscuits-container .cookies .card .card-img img,
.center-container .biscuits-container .juice .card .card-img img,
.center-container .biscuits-container .cards-container .card .card-img img,
.center-container .juice-container .non-veg .card .card-img img,
.center-container .juice-container .veg .card .card-img img,
.center-container .juice-container .cookies .card .card-img img,
.center-container .juice-container .juice .card .card-img img,
.center-container .juice-container .cards-container .card .card-img img,
.center-container .recommended-section .non-veg .card .card-img img,
.center-container .recommended-section .veg .card .card-img img,
.center-container .recommended-section .cookies .card .card-img img,
.center-container .recommended-section .juice .card .card-img img,
.center-container .recommended-section .cards-container .card .card-img img {
  transition: all 0.3s ease;
  aspect-ratio: 2/1.3;
}
.center-container .non-veg-container .non-veg .card:hover img,
.center-container .non-veg-container .veg .card:hover img,
.center-container .non-veg-container .cookies .card:hover img,
.center-container .non-veg-container .juice .card:hover img,
.center-container .non-veg-container .cards-container .card:hover img,
.center-container .veg-container .non-veg .card:hover img,
.center-container .veg-container .veg .card:hover img,
.center-container .veg-container .cookies .card:hover img,
.center-container .veg-container .juice .card:hover img,
.center-container .veg-container .cards-container .card:hover img,
.center-container .biscuits-container .non-veg .card:hover img,
.center-container .biscuits-container .veg .card:hover img,
.center-container .biscuits-container .cookies .card:hover img,
.center-container .biscuits-container .juice .card:hover img,
.center-container .biscuits-container .cards-container .card:hover img,
.center-container .juice-container .non-veg .card:hover img,
.center-container .juice-container .veg .card:hover img,
.center-container .juice-container .cookies .card:hover img,
.center-container .juice-container .juice .card:hover img,
.center-container .juice-container .cards-container .card:hover img,
.center-container .recommended-section .non-veg .card:hover img,
.center-container .recommended-section .veg .card:hover img,
.center-container .recommended-section .cookies .card:hover img,
.center-container .recommended-section .juice .card:hover img,
.center-container .recommended-section .cards-container .card:hover img {
  transform: scale(1.2);
}
.center-container .non-veg-container .non-veg .card .product-description .product-title,
.center-container .non-veg-container .veg .card .product-description .product-title,
.center-container .non-veg-container .cookies .card .product-description .product-title,
.center-container .non-veg-container .juice .card .product-description .product-title,
.center-container .non-veg-container .cards-container .card .product-description .product-title,
.center-container .veg-container .non-veg .card .product-description .product-title,
.center-container .veg-container .veg .card .product-description .product-title,
.center-container .veg-container .cookies .card .product-description .product-title,
.center-container .veg-container .juice .card .product-description .product-title,
.center-container .veg-container .cards-container .card .product-description .product-title,
.center-container .biscuits-container .non-veg .card .product-description .product-title,
.center-container .biscuits-container .veg .card .product-description .product-title,
.center-container .biscuits-container .cookies .card .product-description .product-title,
.center-container .biscuits-container .juice .card .product-description .product-title,
.center-container .biscuits-container .cards-container .card .product-description .product-title,
.center-container .juice-container .non-veg .card .product-description .product-title,
.center-container .juice-container .veg .card .product-description .product-title,
.center-container .juice-container .cookies .card .product-description .product-title,
.center-container .juice-container .juice .card .product-description .product-title,
.center-container .juice-container .cards-container .card .product-description .product-title,
.center-container .recommended-section .non-veg .card .product-description .product-title,
.center-container .recommended-section .veg .card .product-description .product-title,
.center-container .recommended-section .cookies .card .product-description .product-title,
.center-container .recommended-section .juice .card .product-description .product-title,
.center-container .recommended-section .cards-container .card .product-description .product-title {
  font-size: 20px;
  margin: 3px;
  font-weight: 600;
}
.center-container .non-veg-container .non-veg .card .product-description .product-title + p,
.center-container .non-veg-container .veg .card .product-description .product-title + p,
.center-container .non-veg-container .cookies .card .product-description .product-title + p,
.center-container .non-veg-container .juice .card .product-description .product-title + p,
.center-container .non-veg-container .cards-container .card .product-description .product-title + p,
.center-container .veg-container .non-veg .card .product-description .product-title + p,
.center-container .veg-container .veg .card .product-description .product-title + p,
.center-container .veg-container .cookies .card .product-description .product-title + p,
.center-container .veg-container .juice .card .product-description .product-title + p,
.center-container .veg-container .cards-container .card .product-description .product-title + p,
.center-container .biscuits-container .non-veg .card .product-description .product-title + p,
.center-container .biscuits-container .veg .card .product-description .product-title + p,
.center-container .biscuits-container .cookies .card .product-description .product-title + p,
.center-container .biscuits-container .juice .card .product-description .product-title + p,
.center-container .biscuits-container .cards-container .card .product-description .product-title + p,
.center-container .juice-container .non-veg .card .product-description .product-title + p,
.center-container .juice-container .veg .card .product-description .product-title + p,
.center-container .juice-container .cookies .card .product-description .product-title + p,
.center-container .juice-container .juice .card .product-description .product-title + p,
.center-container .juice-container .cards-container .card .product-description .product-title + p,
.center-container .recommended-section .non-veg .card .product-description .product-title + p,
.center-container .recommended-section .veg .card .product-description .product-title + p,
.center-container .recommended-section .cookies .card .product-description .product-title + p,
.center-container .recommended-section .juice .card .product-description .product-title + p,
.center-container .recommended-section .cards-container .card .product-description .product-title + p {
  margin: 5px 0px;
  font-size: 14px;
}
.center-container .non-veg-container .non-veg .card .product-description .rupees,
.center-container .non-veg-container .veg .card .product-description .rupees,
.center-container .non-veg-container .cookies .card .product-description .rupees,
.center-container .non-veg-container .juice .card .product-description .rupees,
.center-container .non-veg-container .cards-container .card .product-description .rupees,
.center-container .veg-container .non-veg .card .product-description .rupees,
.center-container .veg-container .veg .card .product-description .rupees,
.center-container .veg-container .cookies .card .product-description .rupees,
.center-container .veg-container .juice .card .product-description .rupees,
.center-container .veg-container .cards-container .card .product-description .rupees,
.center-container .biscuits-container .non-veg .card .product-description .rupees,
.center-container .biscuits-container .veg .card .product-description .rupees,
.center-container .biscuits-container .cookies .card .product-description .rupees,
.center-container .biscuits-container .juice .card .product-description .rupees,
.center-container .biscuits-container .cards-container .card .product-description .rupees,
.center-container .juice-container .non-veg .card .product-description .rupees,
.center-container .juice-container .veg .card .product-description .rupees,
.center-container .juice-container .cookies .card .product-description .rupees,
.center-container .juice-container .juice .card .product-description .rupees,
.center-container .juice-container .cards-container .card .product-description .rupees,
.center-container .recommended-section .non-veg .card .product-description .rupees,
.center-container .recommended-section .veg .card .product-description .rupees,
.center-container .recommended-section .cookies .card .product-description .rupees,
.center-container .recommended-section .juice .card .product-description .rupees,
.center-container .recommended-section .cards-container .card .product-description .rupees {
  font-weight: bolder;
  display: inline;
  font-size: 20px;
}
.center-container .non-veg-container .non-veg .card .product-description .light,
.center-container .non-veg-container .veg .card .product-description .light,
.center-container .non-veg-container .cookies .card .product-description .light,
.center-container .non-veg-container .juice .card .product-description .light,
.center-container .non-veg-container .cards-container .card .product-description .light,
.center-container .veg-container .non-veg .card .product-description .light,
.center-container .veg-container .veg .card .product-description .light,
.center-container .veg-container .cookies .card .product-description .light,
.center-container .veg-container .juice .card .product-description .light,
.center-container .veg-container .cards-container .card .product-description .light,
.center-container .biscuits-container .non-veg .card .product-description .light,
.center-container .biscuits-container .veg .card .product-description .light,
.center-container .biscuits-container .cookies .card .product-description .light,
.center-container .biscuits-container .juice .card .product-description .light,
.center-container .biscuits-container .cards-container .card .product-description .light,
.center-container .juice-container .non-veg .card .product-description .light,
.center-container .juice-container .veg .card .product-description .light,
.center-container .juice-container .cookies .card .product-description .light,
.center-container .juice-container .juice .card .product-description .light,
.center-container .juice-container .cards-container .card .product-description .light,
.center-container .recommended-section .non-veg .card .product-description .light,
.center-container .recommended-section .veg .card .product-description .light,
.center-container .recommended-section .cookies .card .product-description .light,
.center-container .recommended-section .juice .card .product-description .light,
.center-container .recommended-section .cards-container .card .product-description .light {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.8941176471);
}
.center-container .non-veg-container .non-veg .card .addtoplate,
.center-container .non-veg-container .veg .card .addtoplate,
.center-container .non-veg-container .cookies .card .addtoplate,
.center-container .non-veg-container .juice .card .addtoplate,
.center-container .non-veg-container .cards-container .card .addtoplate,
.center-container .veg-container .non-veg .card .addtoplate,
.center-container .veg-container .veg .card .addtoplate,
.center-container .veg-container .cookies .card .addtoplate,
.center-container .veg-container .juice .card .addtoplate,
.center-container .veg-container .cards-container .card .addtoplate,
.center-container .biscuits-container .non-veg .card .addtoplate,
.center-container .biscuits-container .veg .card .addtoplate,
.center-container .biscuits-container .cookies .card .addtoplate,
.center-container .biscuits-container .juice .card .addtoplate,
.center-container .biscuits-container .cards-container .card .addtoplate,
.center-container .juice-container .non-veg .card .addtoplate,
.center-container .juice-container .veg .card .addtoplate,
.center-container .juice-container .cookies .card .addtoplate,
.center-container .juice-container .juice .card .addtoplate,
.center-container .juice-container .cards-container .card .addtoplate,
.center-container .recommended-section .non-veg .card .addtoplate,
.center-container .recommended-section .veg .card .addtoplate,
.center-container .recommended-section .cookies .card .addtoplate,
.center-container .recommended-section .juice .card .addtoplate,
.center-container .recommended-section .cards-container .card .addtoplate {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  border: 1px solid #ddd;
  background-color: #FFB000;
  margin: 10px 0px 5px 0px;
}
.center-container center {
  font-size: 12px;
  color: #333;
}

@keyframes right {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}
.right-container {
  display: flex;
  flex-direction: column;
  animation: right 0.7s ease;
}
.right-container .activity {
  padding: 5px 10px;
}
.right-container .list-container .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.6705882353);
}
.right-container .list-container .list .listImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container .list-container .list .listImg img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top: 3px solid #FFB000;
  border-right: 3px solid #FFB000;
  padding: 4px;
}
.right-container .list-container .list .list-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.right-container .list-container .list .list-details p {
  font-size: 12px;
  color: #333;
}
.right-container .list-container .list .img-4 {
  border-right: 3px solid #FFB000;
  border-bottom: 3px solid #FFB000;
  border-left: none !important;
  border-top: none !important;
}
.right-container .list-container .list .img-2 {
  border-top: 3px solid #FFB000;
  border-right: none !important;
  border-bottom: none !important;
  border-left: 3px solid #FFB000;
}
.right-container .special {
  padding: 5px;
  margin: 5px;
  text-align: center;
  flex-grow: 1;
  border: 5px solid #FFB000;
}
.right-container .special .simg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right-container .special .simg-container .img-special {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}
.right-container .special .simg-container .img-special img {
  border-bottom: 5px solid #FFB000;
  border-right: 5px solid #FFB000;
  padding: 8px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.right-container .special .simg-container .img-special:hover img {
  transform: scale(1.3);
}

@media screen and (max-width: 576px) {
  .left-container {
    position: absolute;
    top: 55px;
    left: -110%;
    background-color: #fff;
    color: #000000;
    width: 65%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    transition: all 0.3s ease;
    z-index: 1;
    height: 90vh;
    overflow: hidden;
  }
  .left-container .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .left-container .menu .header {
    margin-top: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    justify-content: start;
    padding: 5px 10px;
    border: 2px solid;
    width: 200px;
  }
  .left-container .menu .header i {
    display: inline;
    margin-right: 10px;
    padding: 6px;
    border-radius: 50%;
    background-color: #FFB000;
  }
  .left-container .menu .item-list {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .Main-grid-container {
    display: flex;
    overflow: scroll;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .Main-grid-container .center-container header .hamburger {
    display: flex;
    min-width: 30px;
  }
  .Main-grid-container .center-container header h2 {
    margin-right: 0px;
    display: none;
  }
  .Main-grid-container .center-container header .search-bar {
    flex-grow: 1;
    position: relative;
    margin: 0px 20px;
  }
  .Main-grid-container .center-container header .search-bar input {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    outline: none;
    padding: 5px 15px;
    font-size: 18px;
  }
  .Main-grid-container footer {
    display: none;
  }
  .card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .product-details {
    text-align: center;
    border-right: 0px solid #ff0000 !important;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 80px;
    font-size: 16px;
    width: 100% !important;
  }
  .product-details .selecteditems {
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid #818181;
    width: 100%;
  }
  .product-details .selecteditems .card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 10%;
  }
  .product-details .selecteditems .product-d {
    margin-left: 10px;
  }
  .product-details .selecteditems .product-d p,
  .product-details .selecteditems .product-d span {
    font-size: 12px !important;
  }
  .product-details .selecteditems .product-d .btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .product-details .selecteditems .product-d .btns button {
    margin-left: 15px;
    padding: 5px 20px;
    background-color: #FFB000;
    border: none;
    border-radius: 3px;
  }
  .bill-amount {
    display: none !important;
    width: 0px !important;
  }
  .right-container .list-container .list {
    flex-direction: column;
  }
  .right-container .list-container .list .listImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-container .list-container .list .listImg img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    border-bottom: 5px solid #FFB000;
    border-right: 5px solid #FFB000;
  }
  .right-container .list-container .list .list-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  .right-container .list-container .list .list-details h4 {
    font-size: 20px;
  }
  .right-container .list-container .list .list-details p {
    font-size: 18px;
    color: #636363;
  }
  .right-container .list-container .list .img-4 {
    border-right: 5px solid #FFB000;
    border-bottom: 5px solid #FFB000;
  }
  .right-container .list-container .list .img-2 {
    border-top: 5px solid #FFB000;
    border-left: 5px solid #FFB000;
  }
  .right-container .special {
    padding: 10px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFB000;
  }
  .right-container .special .simg-container {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .right-container .special .simg-container .img-special {
    width: 300px;
    height: 300px;
  }
}
#cheader.head {
  background-color: #000000;
  transition: all 1s ease;
  transition-delay: 0.3s;
}

.left-container.move {
  left: 0%;
}

.hamburger.ham {
  color: #ffffff !important;
}

.bill-amount .bill-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 0px;
  background-color: blueviolet;
  height: 100%;
}
.bill-amount .bill-details .bill {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  list-style: none;
}
.bill-amount .bill-details .bill .bill > .bill-product-name {
  font-size: 18px;
  font-weight: 500;
}
.bill-amount .bill-details .final-amount {
  text-align: right;
  padding-right: 25px;
  margin-top: 10px;
}
.bill-amount .bill-details .final-amountbutton {
  font-size: 20px;
  font-weight: bold;
  /* background-color: #FFB000; */
  background: linear-gradient(to bottom right, rgb(255, 247, 0) 10%, rgb(213, 0, 255));
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  animation: glow 3s ease infinite;
  transition: all 2s ease;
  text-shadow: 0px 0px 1px #000000;
}
@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */